venv/
staticfiles/
_pycache_/
*._pycache_
.env
*.log
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# React / Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db